<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Automatic Branch Generator
  </h1>
</div>
<div class="col_12">
  <form class="vertical">
    <div class="col_4">
    <label for="repository">Repository</label>
    <input type="text" id="repository" name="repository" placeholder="Bitbucket url" />

    <label for="select_branch">Branch Type</label>
    <select id="select_branch" class="fancy">
      <option selected="selected" value="0">-- Choose --</option>
      <option value="1">feature</option>
      <option value="2">release</option>
      <option value="3">hotfix</option>
    </select>

    <label for="select_status">Status</label>
    <select id="select_status" class="fancy">
      <option selected="selected" value="0">-- Choose --</option>
      <option value="1">Start</option>
      <option value="2">Push</option>
      <option value="3">Finish</option>
    </select>

    <div id="div_branch_name">
      <label for="branch" id="label_branch_name">Branch Name</label>
      <input type="text" id="branch" name="branch" placeholder="branch name" />
    </div>

    <div id="div_maven_profile">
      <label for="maven_profile">Maven Profile</label>
      <input type="text" id="maven_profile" name="maven_profile" placeholder="Maven Profile" />
    </div>

    <div id="div_version">
      <label for="version">Version</label>
      <input type="text" id="version" name="version" placeholder="version" />
    </div>

    <button type="submit" class="small green">Submit</button>
    </div>
  </form>
</div>

